.settings {
    display: flex;
  }
  
  .settingsWrapper {
    flex: 9;
    padding: 20px;
  }
  
  .settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .settingsTitleUpdate {
    font-size: 30px;
    border-bottom: 1.7px solid lightcoral;
    margin-bottom: 25px;
    color: rgb(232, 78, 78);
  }
  
  .settingsTitleDelete {
    color: red;
    font-size: 14px;
    cursor: pointer;
  }
  .settingsTitleDelete:hover{
    color: rgb(136, 18, 18);
  }
  .settingsForm {
    display: flex;
    flex-direction: column;
  }
  
  .settingsPP {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .settingsPP > img {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .settingsPPIcon {
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    color: rgb(229, 91, 91);
    cursor: pointer;
  }
  
  .settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .settingsPPInput {
    width: 30%;
  }
  
  .settingsForm > input {
    color: rgb(66, 66, 66);
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(120, 120, 120);
  }
  
  .settingsSubmitButton {
    align-self: center;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .settingsSubmitButton:hover {
    background-color: rgb(1, 114, 114);
  }
  .button-container {
    position: relative;
    display: inline-block;
  }
  .settingsPPIcon:hover::after {
    content: "Add your pic";
    font-size: 10px;
    position: absolute;
    top: 108%;
    left: 30%;
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
  }
.non-focus:focus{
    outline: none;
}