@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.9)
      ),
      url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
  }
  
  .loginTitle {
    font-family: 'Varela Round', sans-serif;
    font-size: 45px;
  }
  
  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .loginForm > label {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    margin: 10px 0;
  }
  
  .loginInput {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;    
    width:350px;
    padding: 10px;
    background-color: white;
    color: rgb(56, 56, 56);
    border: none;
    border-radius: 10px;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    width:100px;
    margin: 20px auto;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  .loginButton:hover{
    background-color: rgb(234, 73, 73);
  }