@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.headerTitles{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerTitle1{
    position: absolute;
    top: 7%;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 25px;
}
.headerTitle2{
    position: absolute;
    top: 11%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
}
.headerTitles img{
    width: 100%;
    margin-top: 3vh;
    z-index: -1;
    object-fit: cover;
    height: 90.2vh;
}